* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(img/bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 10px;
  display: grid;
}
.container {
  padding: 17%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "ket ket"
    "s7 n7"
    "s8 n8"
    "s9 n9";
  gap: 30px;
}
.dum {
  text-align: center;
  place-self: center;
}
.ket {
  grid-area: ket;
}
.s7 {
  grid-area: s7;
}
.s8 {
  grid-area: s8;
}
.s9 {
  grid-area: s9;
}
.n7 {
  grid-area: n7;
}
.n8 {
  grid-area: n8;
}
.n9 {
  grid-area: n9;
}
h2 {
  color: yellow;
  text-shadow: 2px 2px black;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 10px;
  background-color: yellow;
  border-radius: 4px;
  font-weight: 800;
}
a:hover {
  background-color: orangered;
}
@media (max-width: 576px) {
  .container {
    grid-template-areas:
      "ket ket"
      "s7 s7"
      "s8 s8"
      "s9 s9"
      "n7 n7"
      "n8 n8"
      "n9 n9";
    gap: 30px;
  }
  h2 {
    font-size: 1.9em;
    color: red;
  }
  a {
    font-size: 1.5em;
    background-color: red;
  }
  a:hover {
    background-color: yellow;
  }
}
